@page "/menu/shift"
@inject IShiftRepository _shiftRepository
@rendermode InteractiveServer
@inject ApplicationDbContext _db

<h5 style="margin: 0;padding: 0;">Danh sách ca làm việc</h5>

<EditForm Model="Shift"
OnValidSubmit="SaveItem"
FormName="EditForm"
Context="EditFormContext">
    <DataAnnotationsValidator />
    <DxFormLayout CssClass="w-100">
        <DxFormLayoutGroup Caption="Form cập nhật ca làm việc"
        ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" Expanded="@IsExpanded"
        AnimationType="LayoutAnimationType.Slide"
        ColSpanLg="12">
            <DxFormLayoutItem Caption="Mã ca làm việc" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="2">
                <DxTextBox @bind-Text="@Shift.Code"
                NullText="Nhập mã số"
                BindValueMode="BindValueMode.OnInput"
                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                CssClass="cw-480"
                InputId="tbShiftID" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Ca làm việc" CaptionPosition="CaptionPosition.Vertical" ColSpanMd="2">
                <DxTextBox @bind-Text="@Shift.Name"
                NullText="Nhập tên công ty"
                BindValueMode="BindValueMode.OnInput"
                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                CssClass="cw-480"
                InputId="tbShiftName" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Mô tả" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="2">
                <DxTextBox @bind-Text="@Shift.Description"
                NullText="Nhập mô tả"
                BindValueMode="BindValueMode.OnInput"
                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                InputId="tbShiftDescription"
                CssClass="cw-480" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Trạng thái" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="1">
                <DxCheckBox @bind-Checked="@Shift.Status" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Loại ưu tiên" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="2">
                <DxComboBox Data="@Priorities"
                @bind-Value="@Shift.PriorityId"
                TextFieldName="@nameof(IssuePriority.Name)"
                ValueFieldName="@nameof(IssuePriority.Id)"
                NullText="Chọn loại khu vực"
                SearchMode="@ListSearchMode.AutoSearch"
                SearchFilterCondition="@ListSearchFilterCondition.Contains"
                ListRenderMode="ListRenderMode.Virtual"
                CssClass="cw-480"
                InputId="cbVirtualScrolling" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Giờ bắt đầu" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="2">
                <DxTimeEdit @bind-Time="@Shift.StartHour" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Giờ kết thúc" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="2">
                <DxTimeEdit @bind-Time="@Shift.EndHour" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="3">
                <div class="save-layout">
                    <div>
                        <DxButton CssClass="w-100"
                        RenderStyle="ButtonRenderStyle.Info"
                        RenderStyleMode="ButtonRenderStyleMode.Outline"
                        SubmitFormOnClick="true"
                        Text="Save" />
                    </div>
                    <div>
                        <DxButton CssClass="w-100"
                        RenderStyle="ButtonRenderStyle.Info"
                        RenderStyleMode="ButtonRenderStyleMode.Outline"
                        Text="Clear"
                        Click="Clear" />
                    </div>
                </div>
            </DxFormLayoutItem>
        </DxFormLayoutGroup>
    </DxFormLayout>
</EditForm>

<div style="margin: 0;padding: 0;">Tổng số ca làm việc: @Shifts.Count()</div>

<DxLoadingPanel Visible="IsProcessing"
IsContentBlocked="true"
ApplyBackgroundShading="true"
IndicatorAreaVisible="false"
Text="Fetching Data...">
    <DxGrid Data="Shifts"
    @ref="Grid"
    CssClass="ch-360"
    ShowSearchBox="true"
    ShowGroupPanel="true"
    PagerPosition="GridPagerPosition.Bottom"
    PagerVisible="true"
    PageSizeSelectorVisible="true"
    PageSizeSelectorAllRowsItemVisible="false"
    PageSizeSelectorItems="@(new int[] { 25, 50, 75 })"
    PageSize="25"
    PagerVisibleNumericButtonCount="5"
    PagerNavigationMode="PagerNavigationMode.Auto"
    SelectionMode="GridSelectionMode.Single"
    @bind-SelectedDataItem="@SelectedDataItem"
    DataItemDeleting="Grid_DataItemDeleting"
    AllowSelectRowByClick="true"
    ColumnResizeMode="GridColumnResizeMode.NextColumn"
    RowDoubleClick="ChooseRowToEdit"
    ShowFilterRow="true"
    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always">
        <Columns>
            <DxGridDataColumn Caption="STT" Width="50px" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center">
                <CellDisplayTemplate>
                    @(context.VisibleIndex + 1)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Code" Caption="Mã ca làm việc" MinWidth="200" />
            <DxGridDataColumn FieldName="Name" Caption="Ca làm việc" MinWidth="200" />
            <DxGridDataColumn FieldName="Description" Caption="Mô tả" MinWidth="200" />
            <DxGridDataColumn FieldName="Status" Caption="Trạng thái" TextAlignment="GridTextAlignment.Left" MinWidth="120">
                <CellDisplayTemplate>
                    @GetIssueStatusIcon(((Shift)context.DataItem).Status,
                                               ((Shift)context.DataItem).CreateDate,
                                               ((Shift)context.DataItem).UpdateDate)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="PriorityId" Caption="Ưu tiên" MinWidth="90">
                <CellDisplayTemplate>
                    @GetIssuePriorityIconHtml((context.DataItem as Shift).Priority)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="StartHour" Caption="Giờ bắt đầu" MinWidth="130" />
            <DxGridDataColumn FieldName="EndHour" Caption="Giờ kết thúc" MinWidth="130" />
            <DxGridDataColumn Caption="Action" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center" MinWidth="75">
                <CellDisplayTemplate>
                    <a class="oi oi-trash" @onclick="@(() => Grid.ShowRowDeleteConfirmation(context.VisibleIndex))" style="text-decoration:none;cursor: pointer;" />
                </CellDisplayTemplate>
            </DxGridDataColumn>
        </Columns>
        <SearchBoxTemplate>
            <div class="search-box-template">
                <div class="item">
                    <DxButton SizeMode="SizeMode.Medium" Click="ExportXlsx_Click" Text="Export XLSX" RenderStyleMode="ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Info" />
                </div>
                <div>
                    <DxTextBox NullText="Tìm kiếm"
                    BindValueMode="BindValueMode.OnInput"
                    TextChanged="(string? v)=>context.SearchText = v"
                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                </div>
            </div>
        </SearchBoxTemplate>
    </DxGrid>
</DxLoadingPanel>


@* Load trang và data *@
@code {
    IGrid Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }
    public bool IsProcessing { get; set; }
    private IEnumerable<Shift> Shifts { get; set; } = new List<Shift>();
    private List<IssuePriority> Priorities { get; set; } = new List<IssuePriority>();
    private Shift Shift { get; set; } = new Shift();
    private object SelectedDataItem { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadShifts();
        }
    }
    private async Task LoadShifts()
    {
        IsProcessing = true;
        StateHasChanged();
        await Task.Delay(1500);
        Shifts = await _shiftRepository.GetAllAsync();
        Priorities = await _db.IssuePriority.ToListAsync();
        IsProcessing = false;
        StateHasChanged();
    }

}

@* CRUD *@
@code {
    private async Task SaveItem()
    {
        if (SelectedDataItem == null)
        {
            PopupTitle = "Xác nhận tạo mới";
            PopupMessage = "Bạn có muốn tạo mới dữ liệu không?";
            PopupVisible = true;
        }
        else
        {
            PopupTitle = "Xác nhận chỉnh sửa";
            PopupMessage = "Bạn có muốn chỉnh sửa dữ liệu không?";
            PopupVisible = true;
        }
    }
    private async Task ConfirmSaveItem()
    {
        PopupVisible = false;
        if (SelectedDataItem == null)
        {
            await _shiftRepository.CreateAsync(Shift);
            await Clear();
            await LoadShifts();
        }
        else
        {
            await _shiftRepository.UpdateAsync(Shift);
            await Clear();
            await LoadShifts();
        }
    }
    private async Task Clear()
    {
        Shift = new();
        SelectedDataItem = null;
    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        await _shiftRepository.DeleteAsync(((Shift)e.DataItem).Id);
        await LoadShifts();
    }
    async Task ChooseRowToEdit()
    {
        IsExpanded = true;
        Shift = SelectedDataItem as Shift;
    }
}

@* Xuất file excel *@
@code {
    async Task ExportXlsx_Click()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = ExportSelectedRowsOnly,
            });
    }
}

@* trang trí trạng thái và ưu tiên *@
@code {
    public MarkupString GetIssuePriorityIconHtml(IssuePriority priority)
    {
        string priorytyClass = "warning";
        string title = "Trung bình";
        if (priority == null)
        {
            priorytyClass = "none";
            title = "Không có";
            string nullpriority = string.Format("<span class='badge priority-{0}' title='Ưu tiên {1}' b-v2bewct92u>{1}</span>", priorytyClass, title);
            return new MarkupString(nullpriority);
        }
        if (priority.Name == "Cao")
        {
            priorytyClass = "danger";
            title = "Cao";
        }
        if (priority.Name == "Thấp")
        {
            priorytyClass = "info";
            title = "Thấp";
        }
        string html = string.Format("<span class='badge priority-{0}' title='Ưu tiên {1}' b-v2bewct92u>{1}</span>", priorytyClass, title);
        return new MarkupString(html);
    }
    public MarkupString GetIssueStatusIcon(bool status, DateTime createDate, DateTime updateDate)
    {
        string statusIconName = "";
        if (status)
        {
            if (createDate.Date == updateDate.Date && createDate.TimeOfDay == updateDate.TimeOfDay)
            {
                statusIconName = "new";
            }
            else
            {
                statusIconName = "fixed";
            }
        }
        else
        {
            statusIconName = "rejected";
        }
        string html = string.Format("<span class='status-icon status-icon-{0} me-1 rounded-circle d-inline-block' b-v2bewct92u></span> {0}",
        statusIconName);
        return new MarkupString(html);
    }
}

<DxPopup @bind-Visible="@PopupVisible"
         ShowFooter="true"
         HeaderText="@PopupTitle">
    <BodyContentTemplate>
        @PopupMessage
    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained" Text="OK" Click="ConfirmSaveItem" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Outline" Text="Cancel" Click="@(() => PopupVisible = false)" />
    </FooterContentTemplate>
</DxPopup>

@code {
    bool PopupVisible { get; set; }
    string PopupTitle { get; set; } = string.Empty;
    string PopupMessage { get; set; } = string.Empty;
}

@code {
    bool IsExpanded { get; set; } = false;
}