@page "/menu/zone"
@inject IZoneRepository _zoneRepository
@rendermode InteractiveServer
@inject ApplicationDbContext _db
@inject IZoneTypeRepository _zoneTypeRepository

<h5 style="margin: 0;padding: 0;">Danh sách khu vực</h5>

<EditForm Model="Zone"
          OnValidSubmit="SaveItem"
          FormName="EditForm"
          Context="EditFormContext">
    <DataAnnotationsValidator />
    <DxFormLayout CssClass="w-100">
        <DxFormLayoutGroup Caption="Form cập nhật khu vực"
                           ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start"
                           AnimationType="LayoutAnimationType.Slide" Expanded="@IsExpanded"
                           ColSpanLg="12">
            <DxFormLayoutItem Caption="Mã khu vực" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="2">
                <DxTextBox @bind-Text="@Zone.Code"
                           NullText="Nhập mã số"
                           BindValueMode="BindValueMode.OnInput"
                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                           CssClass="cw-480"
                           InputId="tbZoneID" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Tên khu vực" CaptionPosition="CaptionPosition.Vertical" ColSpanMd="2">
                <DxTextBox @bind-Text="@Zone.Name"
                           NullText="Nhập tên công ty"
                           BindValueMode="BindValueMode.OnInput"
                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                           CssClass="cw-480"
                           InputId="tbZoneName" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Mô tả" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="2">
                <DxTextBox @bind-Text="@Zone.Description"
                           NullText="Nhập mô tả"
                           BindValueMode="BindValueMode.OnInput"
                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                           InputId="tbZoneDescription"
                           CssClass="cw-480" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Loại khu vực" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="2">
                <DxComboBox Data="ZoneTypes" 
                            @bind-Value="@Zone.ZoneTypeId" 
                            TextFieldName="@nameof(ZoneType.Name)" 
                            ValueFieldName="@nameof(ZoneType.Id)" 
                            NullText="Chọn loại khu vực" 
                            SearchMode="@ListSearchMode.AutoSearch"
                            SearchFilterCondition="@ListSearchFilterCondition.Contains"
                            ListRenderMode="ListRenderMode.Virtual"
                            CssClass="cw-480"
                            InputId="cbVirtualScrolling"/>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Trạng thái" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="1">
                <DxCheckBox @bind-Checked="@Zone.Status" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Loại ưu tiên" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="2">
                <DxComboBox Data="@Priorities"
                            @bind-Value="@Zone.PriorityId"
                            TextFieldName="@nameof(IssuePriority.Name)"
                            ValueFieldName="@nameof(IssuePriority.Id)"
                            NullText="Chọn loại ưu tiên"
                            SearchMode="@ListSearchMode.AutoSearch"
                            SearchFilterCondition="@ListSearchFilterCondition.Contains"
                            ListRenderMode="ListRenderMode.Virtual"
                            CssClass="cw-480"
                            InputId="cbVirtualScrolling" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="3">
                <div class="save-layout">
                    <div>
                        <DxButton CssClass="w-100"
                                  RenderStyle="ButtonRenderStyle.Info"
                                  RenderStyleMode="ButtonRenderStyleMode.Outline"
                                  SubmitFormOnClick="true"
                                  Text="Save" />
                    </div>
                    <div>
                        <DxButton CssClass="w-100"
                                  RenderStyle="ButtonRenderStyle.Info"
                                  RenderStyleMode="ButtonRenderStyleMode.Outline"
                                  Text="Clear"
                                  Click="Clear" />
                    </div>
                </div>
            </DxFormLayoutItem>
        </DxFormLayoutGroup>
    </DxFormLayout>
</EditForm>

<div style="margin: 0;padding: 0;">Tổng số khu vực: @Zones.Count()</div>

<DxLoadingPanel Visible="IsProcessing"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid Data="Zones"
            @ref="Grid"
            CssClass="ch-360"
            ShowSearchBox="true"
            ShowGroupPanel="true"
            PagerPosition="GridPagerPosition.Bottom"
            PagerVisible="true"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="false"
            PageSizeSelectorItems="@(new int[] { 25, 50, 75 })"
            PageSize="25"
            PagerVisibleNumericButtonCount="5"
            PagerNavigationMode="PagerNavigationMode.Auto"
            SelectionMode="GridSelectionMode.Single"
            @bind-SelectedDataItem="@SelectedDataItem"
            DataItemDeleting="Grid_DataItemDeleting"
            AllowSelectRowByClick="true"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            RowDoubleClick="ChooseRowToEdit"
            ShowFilterRow="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always">
        <Columns>
            <DxGridDataColumn Caption="STT" Width="50" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center">
                <CellDisplayTemplate>
                    @(context.VisibleIndex + 1)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Code" Caption="Mã khu vực" MinWidth="200" />
            <DxGridDataColumn FieldName="Name" Caption="Tên khu vực" MinWidth="200" />
            <DxGridDataColumn FieldName="Description" Caption="Mô tả" MinWidth="200" />
            <DxGridDataColumn FieldName="ZoneType.Name" Caption="Loại khu vực" MinWidth="200" />
            <DxGridDataColumn FieldName="Status" Caption="Trạng thái" TextAlignment="GridTextAlignment.Left" MinWidth="120">
                <CellDisplayTemplate>
                    @GetIssueStatusIcon(((Zone)context.DataItem).Status,
                             ((Zone)context.DataItem).CreateDate,
                             ((Zone)context.DataItem).UpdateDate)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="PriorityId" Caption="Ưu tiên" MinWidth="90">
                <CellDisplayTemplate>
                    @GetIssuePriorityIconHtml((context.DataItem as Zone).Priority)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn Caption="Action" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center" Width="75px">
                <CellDisplayTemplate>
                    <a class="oi oi-trash" @onclick="@(() => Grid.ShowRowDeleteConfirmation(context.VisibleIndex))" style="text-decoration:none;cursor: pointer;" />
                </CellDisplayTemplate>
            </DxGridDataColumn>
        </Columns>
        <SearchBoxTemplate>
            <div class="search-box-template">
                <div class="item">
                    <DxButton SizeMode="SizeMode.Medium" Click="ExportXlsx_Click" Text="Export XLSX" RenderStyleMode="ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Info" />
                </div>
                <div>
                    <DxTextBox NullText="Tìm kiếm"
                               BindValueMode="BindValueMode.OnInput"
                               TextChanged="(string? v)=>context.SearchText = v"
                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                </div>
            </div>
        </SearchBoxTemplate>
    </DxGrid>
</DxLoadingPanel>


@* Load trang và data *@
@code {
    IGrid Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }
    public bool IsProcessing { get; set; }
    private IEnumerable<Zone> Zones { get; set; } = new List<Zone>();
    private IEnumerable<ZoneType> ZoneTypes { get; set; } = new List<ZoneType>();
    private List<IssuePriority> Priorities { get; set; } = new List<IssuePriority>();
    private Zone Zone { get; set; } = new Zone();
    private object SelectedDataItem { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadZones();
        }
    }
    private async Task LoadZones()
    {
        IsProcessing = true;
        StateHasChanged();
        await Task.Delay(1500);
        Zones = await _zoneRepository.GetAllAsync();
        ZoneTypes = await _zoneTypeRepository.GetAllAsync();
        Priorities = await _db.IssuePriority.ToListAsync();
        IsProcessing = false;
        StateHasChanged();
    }

}

@* CRUD *@
@code {
    private async Task SaveItem()
    {
        if (SelectedDataItem == null)
        {
            PopupTitle = "Xác nhận tạo mới";
            PopupMessage = "Bạn có muốn tạo mới dữ liệu không?";
            PopupVisible = true;
        }
        else
        {
            PopupTitle = "Xác nhận chỉnh sửa";
            PopupMessage = "Bạn có muốn chỉnh sửa dữ liệu không?";
            PopupVisible = true;
        }

    }
    private async Task ConfirmSaveItem()
    {
        PopupVisible = false;
        if (SelectedDataItem == null)
        {
            await _zoneRepository.CreateAsync(Zone);
            await Clear();
            await LoadZones();
        }
        else
        {
            await _zoneRepository.UpdateAsync(Zone);
            await Clear();
            await LoadZones();
        }
    }
    private async Task Clear()
    {
        Zone = new();
        SelectedDataItem = null;
    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        await _zoneRepository.DeleteAsync(((Zone)e.DataItem).Id);
        await LoadZones();
    }
    async Task ChooseRowToEdit()
    {
        IsExpanded = true;
        Zone = SelectedDataItem as Zone;
    }
}

@* Xuất file excel *@
@code {
    async Task ExportXlsx_Click()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = ExportSelectedRowsOnly,
            });
    }
}

@* trang trí trạng thái và ưu tiên *@
@code {
    public MarkupString GetIssuePriorityIconHtml(IssuePriority priority)
    {
        string priorytyClass = "warning";
        string title = "Trung bình";
        if (priority == null)
        {
            priorytyClass = "none";
            title = "Không có";
            string nullpriority = string.Format("<span class='badge priority-{0}' title='Ưu tiên {1}' b-v2bewct92u>{1}</span>", priorytyClass, title);
            return new MarkupString(nullpriority);
        }
        if (priority.Name == "Cao")
        {
            priorytyClass = "danger";
            title = "Cao";
        }
        if (priority.Name == "Thấp")
        {
            priorytyClass = "info";
            title = "Thấp";
        }
        string html = string.Format("<span class='badge priority-{0}' title='Ưu tiên {1}' b-v2bewct92u>{1}</span>", priorytyClass, title);
        return new MarkupString(html);
    }
    public MarkupString GetIssueStatusIcon(bool status, DateTime createDate, DateTime updateDate)
    {
        string statusIconName = "";
        if (status)
        {
            if (createDate.Date == updateDate.Date && createDate.TimeOfDay == updateDate.TimeOfDay)
            {
                statusIconName = "new";
            }
            else
            {
                statusIconName = "fixed";
            }
        }
        else
        {
            statusIconName = "rejected";
        }
        string html = string.Format("<span class='status-icon status-icon-{0} me-1 rounded-circle d-inline-block' b-v2bewct92u></span> {0}",
        statusIconName);
        return new MarkupString(html);
    }
}

<DxPopup @bind-Visible="@PopupVisible"
         ShowFooter="true"
         HeaderText="@PopupTitle">
    <BodyContentTemplate>
        @PopupMessage
    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained" Text="OK" Click="ConfirmSaveItem" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Outline" Text="Cancel" Click="@(() => PopupVisible = false)" />
    </FooterContentTemplate>
</DxPopup>
@code {
    bool PopupVisible { get; set; }
    string PopupTitle { get; set; } = string.Empty;
    string PopupMessage { get; set; } = string.Empty;
}

@code {
    bool IsExpanded { get; set; } = false;
}