@page "/menu/zonetype"
@inject IZoneTypeRepository _zonetypeRepository
@rendermode InteractiveServer
@inject ApplicationDbContext _db
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h5 style="margin: 0;padding: 0;">Danh sách loại khu vực</h5>

<EditForm Model="ZoneType"
          OnValidSubmit="SaveItem"
          FormName="EditForm"
          Context="EditFormContext">
    <DataAnnotationsValidator />
    <DxFormLayout CssClass="w-100">
        <DxFormLayoutGroup Caption="Form cập nhật loại khu vực"
                           ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start"
                           AnimationType="LayoutAnimationType.Slide" Expanded="@IsExpanded"
                           ColSpanLg="12">
            <DxFormLayoutItem Caption="Mã loại khu vực" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="2">
                <DxTextBox @bind-Text="@ZoneType.Code"
                           NullText="Nhập mã số"
                           BindValueMode="BindValueMode.OnInput"
                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                           CssClass="cw-480"
                           InputId="tbZoneTypeID" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Tên loại khu vực" CaptionPosition="CaptionPosition.Vertical" ColSpanMd="2">
                <DxTextBox @bind-Text="@ZoneType.Name"
                           NullText="Nhập tên công ty"
                           BindValueMode="BindValueMode.OnInput"
                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                           CssClass="cw-480"
                           InputId="tbZoneTypeName" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Mô tả" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="2">
                <DxTextBox @bind-Text="@ZoneType.Description"
                           NullText="Nhập mô tả"
                           BindValueMode="BindValueMode.OnInput"
                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                           InputId="tbZoneTypeDescription"
                           CssClass="cw-480" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Trạng thái" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="1">
                <DxCheckBox @bind-Checked="@ZoneType.Status" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Loại ưu tiên" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="2">
                <DxComboBox Data="@Priorities"
                            @bind-Value="@ZoneType.PriorityId"
                            TextFieldName="@nameof(IssuePriority.Name)"
                            ValueFieldName="@nameof(IssuePriority.Id)"
                            NullText="Chọn loại khu vực"
                            SearchMode="@ListSearchMode.AutoSearch"
                            SearchFilterCondition="@ListSearchFilterCondition.Contains"
                            ListRenderMode="ListRenderMode.Virtual"
                            CssClass="cw-480"
                            InputId="cbVirtualScrolling" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="3">
                <div class="save-layout">
                    <div>
                        <DxButton CssClass="w-100"
                                  RenderStyle="ButtonRenderStyle.Info"
                                  RenderStyleMode="ButtonRenderStyleMode.Outline"
                                  SubmitFormOnClick="true"
                                  Text="Save" />
                    </div>
                    <div>
                        <DxButton CssClass="w-100"
                                  RenderStyle="ButtonRenderStyle.Info"
                                  RenderStyleMode="ButtonRenderStyleMode.Outline"
                                  Text="Clear"
                                  Click="Clear" />
                    </div>
                </div>
            </DxFormLayoutItem>
        </DxFormLayoutGroup>
    </DxFormLayout>
</EditForm>

<div style="margin: 0;padding: 0;">Tổng số loại khu vực: @ZoneTypes.Count()</div>

<DxLoadingPanel Visible="IsProcessing"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Fetching Data...">
    <DxGrid Data="ZoneTypes"
            @ref="Grid"
            CssClass="ch-360"
            ShowSearchBox="true"
            ShowGroupPanel="true"
            PagerPosition="GridPagerPosition.Bottom"
            PagerVisible="true"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="false"
            PageSizeSelectorItems="@(new int[] { 25, 50, 75 })"
            PageSize="25"
            PagerVisibleNumericButtonCount="5"
            PagerNavigationMode="PagerNavigationMode.Auto"
            SelectionMode="GridSelectionMode.Single"
            @bind-SelectedDataItem="@SelectedDataItem"
            DataItemDeleting="Grid_DataItemDeleting"
            AllowSelectRowByClick="true"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            RowDoubleClick="ChooseRowToEdit"
            ShowFilterRow="true"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always" HighlightRowOnHover="true">
        <Columns>
            <DxGridDataColumn Caption="STT" Width="50" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center">
                <CellDisplayTemplate>
                    @(context.VisibleIndex + 1)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Code" Caption="Mã loại khu vực" MinWidth="200" />
            <DxGridDataColumn FieldName="Name" Caption="Tên loại khu vực" MinWidth="200" />
            <DxGridDataColumn FieldName="Description" Caption="Mô tả" MinWidth="200" />
            <DxGridDataColumn FieldName="Status" Caption="Trạng thái" TextAlignment="GridTextAlignment.Left" MinWidth="120">
                <CellDisplayTemplate>
                    @GetIssueStatusIcon(((ZoneType)context.DataItem).Status,
                             ((ZoneType)context.DataItem).CreateDate,
                             ((ZoneType)context.DataItem).UpdateDate)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="PriorityId" Caption="Ưu tiên" MinWidth="100">
                <CellDisplayTemplate>
                    @GetIssuePriorityIconHtml((context.DataItem as ZoneType).Priority)
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn Caption="Action" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center" MinWidth="75">
                <CellDisplayTemplate>
                    <a class="oi oi-trash" @onclick="@(() => Grid.ShowRowDeleteConfirmation(context.VisibleIndex))" style="text-decoration:none;cursor: pointer;" />
                </CellDisplayTemplate>
            </DxGridDataColumn>
        </Columns>
        <SearchBoxTemplate>
            <div class="search-box-template">
                <div class="item">
                    <DxButton SizeMode="SizeMode.Medium" Click="ExportXlsx_Click" Text="Export XLSX" RenderStyleMode="ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Info" />
                </div>
                <div>
                    <DxTextBox NullText="Tìm kiếm"
                               BindValueMode="BindValueMode.OnInput"
                               TextChanged="(string? v)=>context.SearchText = v"
                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                </div>
            </div>
        </SearchBoxTemplate>
    </DxGrid>
</DxLoadingPanel>


@* Load trang và data *@
@code {
    IGrid Grid { get; set; }
    bool ExportSelectedRowsOnly { get; set; }
    public bool IsProcessing { get; set; }
    private IEnumerable<ZoneType> ZoneTypes { get; set; } = new List<ZoneType>();
    private List<IssuePriority> Priorities { get; set; } = new List<IssuePriority>();
    private ZoneType ZoneType { get; set; } = new ZoneType();
    private object SelectedDataItem { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadZoneTypes();
        }
    }
    private async Task LoadZoneTypes()
    {
        IsProcessing = true;
        StateHasChanged();
        await Task.Delay(1500);
        ZoneTypes = await _zonetypeRepository.GetAllAsync();
        Priorities = await _db.IssuePriority.ToListAsync();
        IsProcessing = false;
        StateHasChanged();
    }

}

@* CRUD *@
@code {
    private async Task SaveItem()
    {
        if (SelectedDataItem == null)
        {
            PopupTitle = "Xác nhận tạo mới";
            PopupMessage = "Bạn có muốn tạo mới dữ liệu không?";
            PopupVisible = true;
        }
        else
        {
            PopupTitle = "Xác nhận chỉnh sửa";
            PopupMessage = "Bạn có muốn chỉnh sửa dữ liệu không?";
            PopupVisible = true;
        }

    }
    private async Task ConfirmSaveItem()
    {
        PopupVisible = false;
        if (SelectedDataItem == null)
        {
            await _zonetypeRepository.CreateAsync(ZoneType);
            await Clear();
            await LoadZoneTypes();
        }
        else
        {
            await _zonetypeRepository.UpdateAsync(ZoneType);
            await Clear();
            await LoadZoneTypes();
        }
    }
    private async Task Clear()
    {
        ZoneType = new();
        SelectedDataItem = null;
    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        await _zonetypeRepository.DeleteAsync(((ZoneType)e.DataItem).Id);
        await LoadZoneTypes();
    }
    async Task ChooseRowToEdit()
    {
        IsExpanded = true;
        ZoneType = SelectedDataItem as ZoneType;
    }
}

@* Xuất file excel *@
@code {
    async Task ExportXlsx_Click()
    {
        await Grid.ExportToXlsxAsync("ExportResult", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = ExportSelectedRowsOnly,
            });
    }
}

@* trang trí trạng thái và ưu tiên *@
@code {
    public MarkupString GetIssuePriorityIconHtml(IssuePriority priority)
    {
        string priorytyClass = "warning";
        string title = "Trung bình";
        if (priority == null)
        {
            priorytyClass = "none";
            title = "Không có";
            string nullpriority = string.Format("<span class='badge priority-{0}' title='Ưu tiên {1}' b-v2bewct92u>{1}</span>", priorytyClass, title);
            return new MarkupString(nullpriority);
        }
        if (priority.Name == "Cao")
        {
            priorytyClass = "danger";
            title = "Cao";
        }
        if (priority.Name == "Thấp")
        {
            priorytyClass = "info";
            title = "Thấp";
        }
        string html = string.Format("<span class='badge priority-{0}' title='Ưu tiên {1}' b-v2bewct92u>{1}</span>", priorytyClass, title);
        return new MarkupString(html);
    }
    public MarkupString GetIssueStatusIcon(bool status, DateTime createDate, DateTime updateDate)
    {
        string statusIconName = "";
        if (status)
        {
            if (createDate.Date == updateDate.Date && createDate.TimeOfDay == updateDate.TimeOfDay)
            {
                statusIconName = "new";
            }
            else
            {
                statusIconName = "fixed";
            }
        }
        else
        {
            statusIconName = "rejected";
        }
        string html = string.Format("<span class='status-icon status-icon-{0} me-1 rounded-circle d-inline-block' b-v2bewct92u></span> {0}",
        statusIconName);
        return new MarkupString(html);
    }
}

<DxPopup @bind-Visible="@PopupVisible"
         ShowFooter="true"
         HeaderText="@PopupTitle">
    <BodyContentTemplate>
        @PopupMessage
    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained" Text="OK" Click="ConfirmSaveItem" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Outline" Text="Cancel" Click="@(() => PopupVisible = false)" />
    </FooterContentTemplate>
</DxPopup>

@code {
    bool PopupVisible { get; set; }
    string PopupTitle { get; set; } = string.Empty;
    string PopupMessage { get; set; } = string.Empty;
}

@code{
    bool IsExpanded { get; set; } = false;
}